/* Global Roles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --primaryColor: #10cab7;
  --secendaryColor: #2c4755;
  --sectionHeadingColor: #ebeced;
  --secendaryFontColor: #444444;
  --paddingSection: 30px;
}

body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Start My Component  */
.section-heading {
  margin: 0;
  font-size: 100px;
  color: lightgray;
  text-align: center;
}
.section-slogan {
  margin: -32px;
  font-size: 24px;
  text-align: center;
  color: #707070;
}
/* End My Component  */
/* Start Multiple Screens */

/* Mobile Screen */
@media (min-width: 320px) {
  .container {
    width: 95%;
  }
  .section-heading {
    font-size: 50px;
  }
  .section-slogan {
    font-size: 12px;
    margin: -15px;
  }
}
/* Tablet Screen */
@media (min-width: 768px) {
  .container {
    width: 85%;
  }
  .section-heading {
    font-size: 75px;
  }
  .section-slogan {
    font-size: 18px;
    margin: -25px;
  }
}
/* Labtop Screen */
@media (min-width: 1024px) {
  .container {
    width: 75%;
  }
  .section-heading {
    font-size: 100px;
  }
  .section-slogan {
    font-size: 24px;
    margin: -32px;
  }
}
/* End Multiple Screens */
/* End Global Roles */

/* Start Header  */
header {
  padding: calc(var(--paddingSection) / 2) 0;
}
header .container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 75px;
}
header .container article.icon {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 5px;
}
header .container .header-links:hover nav {
  display: block;
}
header .container .header-links:hover .icon span:nth-child(2) {
  width: 100%;
}
.icon span {
  content: "";
  background-color: var(--secendaryFontColor);
  height: 2.5px;
}

.header-links article.icon span:first-child,
.header-links article.icon span:last-child {
  width: 100%;
}
article.icon span:nth-child(2) {
  width: 70%;
  transition: 0.3s ease-out;
}
header nav::before {
  content: "";
  position: absolute;
  top: -19px;
  right: 10px;
  border: solid 10px;
  border-color: transparent transparent var(--sectionHeadingColor) transparent;
}
header .header-links nav {
  position: absolute;
  margin: 0;
  padding: 0;
  min-width: 175px;
  min-height: 150px;
  top: calc(100% + 15px);
  right: 20px;
  background-color: var(--sectionHeadingColor);
  display: none;
}
header .header-links nav a {
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  padding-left: 10px;
  width: 100%;
  text-decoration: none;
  color: var(--secendaryFontColor);
  transition: 0.3s;
}
header .header-links nav a:hover {
  padding-left: 20px;
}
header .header-links nav a:not(:last-child) {
  border-bottom: 1px solid black;
}
/* End Header  */
/* Start Landing Section  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  /* this calc() to make landing section cover the page
    Subtracted 60px height of header */
  height: calc(100vh - 60px);
}
.landing .container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
}
.landing h1 {
  color: var(--primaryColor);
  font-size: 48px;
  margin-bottom: 0;
}
.landing blockquote {
  line-height: 2rem;
  text-align: center;
}
/* End Landing Section  */
/* Start Features Section */
.features {
  background-color: var(--sectionHeadingColor);
  padding: var(--paddingSection) 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 50px; */
}
.features .container .feat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features .container .feat i {
  color: var(--primaryColor);
  font-size: 48px;
}
.features .container .feat p {
  color: var(--secendaryFontColor);
  line-height: 2rem;
  text-align: center;
}
@media (max-width: 695px ) {
  .features .container .feat {
    & p {
      font-size: 14px;
    }
    & h3 {
      font-size: 16px;
    }
    & i {
      font-size: 36px;
    }
  }
}
/* End Features Section */
/* Start Services Section  */
.services {
  position: relative;
  padding: var(--paddingSection) 0;
}
.services .container {
  margin-top: calc(30px + var(--paddingSection) * 2.5);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}

.services .container .serv {
  display: grid;
  grid-template-areas: "icon heading " " . content ";
  column-gap: 25px;
  margin-bottom: 20px;
  align-items: end;
}
.services .container .serv i {
  color: var(--primaryColor);
  position: relative;
  top: 5px;
  width: 35px;
  grid-area: icon;
  font-size: 28px;
}
.services .container .serv h3 {
  grid-area: heading;
  margin: 0;
}
.services .container .serv p {
  grid-area: content;
  color: var(--secendaryFontColor);
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
}
.services .container figure {
  position: relative;
  margin: 1px;
}
.services .container figure img {
  transform: scale(0.9);
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid black;
}
.services .container figure::before {
  content: "";
  position: absolute;
  right: -25px;
  top: -25px;
  background-color: var(--secendaryColor);
  width: 85px;
  height: calc(100% + 50px);
  z-index: -1;
}
@media (max-width: 1307px) {
  .services .container figure {
    display: none;
  }
}
/* End Services Section  */
